@import url(https://fonts.google.com/specimen/Karla);

*{
    padding: 0px;
    margin: 0px;
    font: 15px "Karla", sans-serif;
    text-decoration: none;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

#clearFix{
    clear:both;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
}

button{
    background-color: #D9F0D0;
    color: #79C958;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    border-style: none;
}

button:hover{
    animation: btnTrans 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes btnTrans {
    100% {
        background-color: #79C958;
        color: #D9F0D0;
    }
}

/* NavBar */
#navBar{
    width: 85%;
    color: #ffffff;
    padding: 20px 65px;
    background-color: white;
}

#navBar>input {
    display: none;
}

#navBarList{
    display: none;
    float: right;
    padding: 41px 0;
    width: 201px;
    position: absolute;
    top: 75px;
    left: 80.5%;
    background-color: white;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: visible;
}

#navBarList>li{
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
    color: #001D5D;
    margin-right: 50px;
    padding-top: 10px;
    line-height: 23px;
    border-bottom: 1px solid #5252524f;
}

#navBarList>li:last-child{
    margin-right: 0px;
    border: none;
}

#navBarList>li>a{
    color: #001D5D;
    font: 15px "Karla", sans-serif;
}

#navBarList>li>a>img{
    margin-right: 5px;
}

#navBarList>li>a>p{
    line-height: 23px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    padding: 6% 0 11% 0;
}

#navBar>label{
    color: #000;
    font-size: 23px;
    float: right;
    cursor: pointer;
}
/* end of NavBar */

/* HeadLine Sec */
#headLineSec{
    background-color: black;
    height: 600px;
    color: white;
    background-image: url("../../images/image1.png");
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: 106%;
    animation: scale 40s linear infinite;
}

@keyframes scale {
    50% {
        background-size: 120%;
    }
}

#headLineSpan{
    width: 45%;
    padding: 15% 3.5em 3.5em;
}

#headLineTitle{
    font-size: 5em;
}

#headLineParagraph{
    color: #ffffffc7;
}

#headLineLink{
    margin-top: 20px;
}

#headLineLink>a{
    display: block;
    width: max-content;
}

#headLineLink>a>p{
    display: inline-block;
    font-size: .9em;
    color: white;
    font-weight: bold;
    margin-left: 1em;
    height: 42px;
    vertical-align: middle;
}
/* end of HeadLine */

/* AboutSec */
#aboutSec{
    padding: 5%;
    background-color: white;
}

#aboutSec>div{
    width: 50%;
    float: left;
}

#aboutSec>div:last-child{
    width: 40%;
}

#aboutSec>div>img{
    width: 95%;
}

#aboutSec>div>h2{
    color: #001D5D;
    width: 70%;
    font-size: 2.5em;
    font-weight: bold;
}

#aboutSec>div>p{
    color: #525252;
    margin-bottom: 15px;
}
/* end of AboutSec */

/* newReleases */
#newReleases{
    background-color: #F6F6F6;
    margin-top: 4%;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#nRTitle{
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 5% 25% 4%;
}

#nRTitle>h2{
    color: #001D5D;
    font-size: 2.5em;
    font-weight: bold;
}

#nRCards{
    display: block;
    width: 100%;
}

#nRCards>ul{
    position: relative;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: visible;
    left: -140px
}
#nRCards>ul::-webkit-scrollbar{
    display: none;
}

#nRCards>ul>li{
    display: inline-block;
    width: 500px;
    box-shadow: 0 0 4px 5px #5252523b;
    margin: 8px 14px;
}

#nRCards>ul>li>div{
    width: 500px;
    white-space: normal;
}

#nRCards>ul>li>div>span{
    width: 40%;
    float: left;
    padding: 10px 0px;
    margin: 6% 0;
}

#nRCards>ul>li>div>span>img{
    margin: 21px;
}

#nRCards>ul>li>div>span:last-child{
    width: 60%;
    float: left;
    padding: 0;
}

#nRCards>ul>li>div>span>h2{
    color: #001D5D;
    font-size: 2.5em;
    font-weight: bold;
}

#nRCards>ul>li>div>span>h3{
    color: #79C958;
    font-size: 1.3em;
}

#nRCards>ul>li>div>span>p{
    font-size: 1.1em;
    line-height: 1.7em;
}

#nRCardControl{
    margin: 4% 0;
}

#nRCardControl>ul{
    text-align: center;
}

#nRCardControl>ul>li{
    list-style: none;
    display: inline-block;
    margin-right: 2%;
}

#nRCardControl>ul>li:last-child{
    margin-right: 0px;
}
/* end of newReleases*/

/* map */
#mapSec{
    height: 600px;
}

#map {
    height: 100%;
}

.gm-control-active{
    display: none;
}

.gmnoprint{
    display: none;
}

.gm-style-cc{
    display: none;
}
/* end of map */

/* contactUs */
#contactUs{
    height: 600px;
    display: contents;
}

#contactUs>ul>li{
    width: 43%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 50px;
}

#contactUs>ul>li:last-child{
    padding: 0;
}

#contactUs>ul>li>div>span{
    margin-top: 10px;
}

#contactUs>ul>li>div>span>input,
#contactUs>ul>li>div>span>select,
#contactUs>ul>li>div>span>textarea{
    width: 42%;
    display: inline-block;
    margin: 10px;
    background: #E8E8E8;
    color: black;
    border: none;
    height: 40px;
    padding-left: 11px;
    font-weight: bold;
}

#contactUs>ul>li>div>span>textarea{
    height: 150px;
    width: 92.5% !important;
    margin: 12px 10px 20px 10px;
}

#contactUs>ul>li>div>span>select{
    width: 45%;
}

#contactUs>ul>li>div>h2,
#contactUs>ul>li>div>p,
#contactUs>ul>li>div>span>button{
    margin-left: 10px;
}

#contactUs>ul>li>div>h2{
    color: #001D5D;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#contactUs>ul>li>div>p{
    font-size: 1.4em;
    margin-bottom: 20px;
    color: rgba(82, 82, 82, 0.62);
}

#contactUs>ul>li:last-child>div{
    height: 623px;
    background-image: url("../../images/image3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    background-position-y: 95%;
}
/* end of contactUs */

/* footer */
footer{
    background-color: #001D5D;
    color: white;
    height: 200px;
    padding: 50px;
}

footer>div{
    border-bottom: #30477B solid 1px;
}

footer>div:first-child>ul>li{
    width: 16%;
    display: inline-block;
    text-align: start;
    vertical-align: top;
}

footer>div:first-child>ul>li>h3{
    font-weight: bold;
}

footer>div:first-child>ul>li>a{
    display: block;
    margin: 10px 0;
    color: #C5C5C7;
}

footer>div:first-child>ul>li>a:hover{
    color: white;
}

footer>div:first-child>ul>li>a:visited{
    color: #C5C5C7;
}

footer>div:first-child>ul>li>p{
    margin-bottom: 20px;
}

footer>div:first-child>ul>li>ul{
    text-decoration: none;
}

footer>div:first-child>ul>li>ul>li{
    text-decoration: none;
}

footer>div:last-child{
    border-bottom: none;
}

footer>div:last-child>span{
    float: left;
}

footer>div:last-child>span:last-child{
    float: right;
}

footer>div:last-child>span>ul>li{
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
}

footer>div:last-child>span>ul>li>a{
    color: white;
    font-weight: bold;
}
/* end of footer */

/* This is for Desktop views */
@media only screen and (min-width: 1080px) {

    /* NavBar */
    #navBar {
        width: 90%;
    }

    #navBar>label{
        display: none;
    }

    #navBarList {
        display: inline-flex !important;
        float: right;
        padding: 0;
        /* width: 0px; */
        top: 15px;
        left: 35%;
        right: -126px;
        background-color: white;
        white-space: unset;
        overflow-x: unset;
        overflow-y: unset;
    }

    #navBarList>li{
        display: inline-block;
        font-weight: bold;
        color: #001D5D;
        margin-right: 50px;
        line-height: 23px;
        text-align: center;
        width: 100%;
        padding-top: 0px;
        border-bottom: none;
    }

    #navBarList>li>a>p{
        padding: 0 0 10% 0;
    }
    /* End of NavBar */

    /* contactUs */
    #contactUs>ul>li{
        width: 45%;
    }

    #contactUs>ul>li>div>span>input,
    #contactUs>ul>li>div>span>select,
    #contactUs>ul>li>div>span>textarea{
        width: 43%;
    }
    /* end of contactUs */

}